html,body
{
  width: 100%;
  height: 100%;
  font-family: arial;
  color: #fff;
  display: flex;
  position: relative;
}

#btns
{
  width: 38%;
}

#toast_container
{
  width: 60%;
  right: 0%;
}

button
{
  padding: 15px 10px;
  margin-left: 10px;
  cursor: pointer;
}

#toast_box1,#toast_box2,#toast_box3,#toast_box4
{
  position: relative;
}

#toast_box1
{
  margin-bottom: 20px;
  align-items: center;
  padding-right: 10px;
  border-radius: 8px;
  overflow: hidden;
  background: rgb(68,215,135);
  display: none; 
}

#toast_box1 img
{
  width: 40px;
  height: 40px;
  padding: 0 15px;
  filter: invert(100%);
}

#toast_cross,#toast_cross1,#toast_cross2,#toast_cross3
{
  position: absolute;
  right: 2%;
  top: 5%;
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
}

#toast_bar,#toast_bar1,#toast_bar2,#toast_bar3
{
  width: 100%;
  height: 10px;
  position: absolute;
  bottom: 0%;
}

#bar
{
  width: 0;
  height: 100%;
  transition: all 5s;
  background: rgb(160, 235, 194);
}

#toast_box2
{
  margin-bottom: 20px;
  border-radius: 8px;
  padding-right: 10px;
  overflow: hidden;
  align-items: center;
  background: rgba(249, 70, 29, 1.0);
  display: none; 
}

#toast_box2 img
{
  width: 40px;
  height: 40px;
  padding: 0 25px;
  filter: invert(100%);
}

#bar1
{
  width: 0;
  height: 100%;
  transition: all 5s;
  background: rgb(251, 163, 139);
}

#toast_box3
{
  margin-bottom: 20px;
  border-radius: 8px;
  align-items: center;
  overflow: hidden;
  padding-right: 10px;
  background: rgba(0, 134, 215, 1.0);
  display: none; 
}

#toast_box3 img
{
  width: 40px;
  height: 40px;
  padding: 0 25px;
  filter: invert(100%);
}

p
{
  margin-top: -15px;
  letter-spacing: 1px;
}

#bar2
{
  width: 0;
  height: 100%;
  transition: all 5s;
  background: rgb(127, 195, 232);
}

#toast_box4
{
  margin-bottom: 20px;
  align-items: center;
  padding-right: 10px;
  overflow: hidden;
  border-radius: 8px;
  background: rgba(255, 187, 0, 1.0);
  display: none; 
}

#toast_box4 img
{
  width: 40px;
  height: 40px;
  padding: 0 25px;
  filter: invert(100%);
}

#bar3
{
  width: 0;
  height: 100%;
  transition: all 5s;
  background: rgb(255, 221, 129);
}
